<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Filename" value="TestFile.txt"/>
    <add key="Source" value="D:\Source"/>
    <add key="Target" value="D:\Target"/>
    <add key="Emails" value="X@gmail.com"/>
    <add key="EmailSuccess" value="File copied"/>
    <add key="EmailFail" value="File copy failed"/>
    <add key="EmailNoCopy" value="No copy today"/>
    <add key="XMLFilePath" value="Output.xml"/>
    <add key="FromEmailId" value="YourEmailIDHere"/>
    <add key="UserName" value="YourEmailIDHere"/>
    <add key="Password" value="YourPasswordHere"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
  </appSettings>
</configuration>